#home {
  margin-top: 80px;
  .ss_home_text_1 {
    font-size: 18px;
  }
  .ss_home_text_2 {
    font-size: 14px;
    font-weight: 400;
  }
  .ss_home_wallet_item_1 {
    text-align: center;
    padding: 20px;
    background: #696969;
    color: #fff;
    font-size: 18px;
  }
  .ss_home_wallet_item_2 {
    text-align: center;
    padding: 30px;
    img {
      width: 30px;
      height: auto;
      margin-right: 10px;
    }
    span {
      font-size: 40px;
      vertical-align: middle;
      opacity: 0.87;
    }
    div {
      font-size: 16px;
      line-height: 28px;
      font-weight: 400;
      opacity: 0.54;
    }
  }

  .ss_home_wallet_item_3 {
    text-align: center;
    padding: 20px;
    background: #cfcfcf;
    color: #696969;
    font-size: 14px;
    span {
      cursor: pointer;
    }
  }

  .balance {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #212121;
  }

  .balance::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 10%;
    padding-top: 5px;
    border-bottom: 1px solid var(--ss_border_btm_clr);
  }

  .balance_text {
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #979797;
  }

  .mt_80 {
    margin-top: 80px;
  }
  .mb_70 {
    margin-bottom: 70px;
  }

  .header {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    height: 55px;
    background-color: #f4f4f4;
    line-height: 55px;
  }
 

  .heading_text4 {
    font-size: 15px;
    opacity: 0.54;
  }
}
