#ss_sign_header {
  height: 56px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
  background-color: #1c1c1c;
  .ss_logo_item {
    height: 56px;
    color: #fff;
  }
  .ss_logo {
    width: auto;
    height: 35px;
    padding-left: 52px;
  }
}
