/* vars */
:root {
  --ss_primary_color: #f46932;
  --ss_primary_color_2: #f46932;

  --ss_btn_clr: #f46932;
  --ss_border_btm_clr: #f46932;
  --ss_text_clr: #f46932;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", sans-serif, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* reset bootstap css - starts */
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none !important;
  box-shadow: none !important;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
textarea {
  outline: none !important;
  box-shadow: none !important;
}

.form-control {
  outline: none !important;
  box-shadow: none !important;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

[class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
}

[class*="row"] {
  margin-right: -10px;
  margin-left: -10px;
}

.modal-open .modal {
  background: rgba(0, 0, 0, 0.6);
}

::-webkit-input-placeholder {
  font-weight: 300;
  color: #979797;
  font-size: 14px;
}
::-moz-placeholder {
  font-weight: 300;
  color: #979797;
  font-size: 14px;
}
*:focus {
  outline: none;
}

/* reset bootstap css - end */

/* common css - starts */
.ss_header_prgress {
  max-width: 700px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 10px;
}

.ss_progress_heading {
  font-family: "Open Sans", sans-serif;
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.ss_progress_heading.current {
  color: #696969;
}
.ss_progress_heading.completed {
  color: #cfcfcf;
}

.ss_card_1 {
  max-width: 700px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 10px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 #9f9f9f;
}
.ss_heading_1 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.ss_top_image {
  display: block;
  width: 200px;
  margin: 30px auto;
  padding-top: 20px;
}

.ss_link_2 {
  display: block;
  margin-top: 15px;
  margin-bottom: 0px;
  padding-top: 0px;
  font-family: "Open Sans", sans-serif;
  color: #9f9f9f;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  text-decoration: underline;
}

.ss_link_2:hover {
  color: #9f9f9f !important;
}

.ss_w_100 {
  width: 100% !important;
}

.ss_invalid {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 13px;
  color: #dc3545;
}

.text_end {
  text-align: end;
}

.center_me {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_me_end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.center_me_tb {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.forgot_password_link {
  display: block;
  font-size: 14px;
  color: var(--ss_primary_color_2);
  text-decoration: none;
}

.forgot_password_link:hover {
  color: var(--ss_primary_color_2) !important;
  text-decoration: none !important;
}

.signup_link {
  display: inline-block;
  font-size: 14px;
  color: var(--ss_primary_color_2);
  text-decoration: none;
}

.signup_link:hover {
  color: var(--ss_primary_color_2) !important;
  text-decoration: none !important;
}

.two_column_grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ss_cursor {
  cursor: pointer;
}

/* common css - ends */

/* app layout css - starts */
.ss_app_layout_item_1 {
  grid-area: sidebar;
  background: #000;
  height: 100% !important;
  position: relative;
}
.ss_app_layout_item_2 {
  grid-area: header;
  position: relative;
}
.ss_app_layout_item_3 {
  grid-area: container;
  max-width: 1366px;
  padding-left: 5px;
  padding-right: 5px;
}

.ss_app_layout {
  display: grid;
  grid-template-columns: 250px 1fr;
  /* grid-template-rows: auto; */
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "header header"
    "sidebar container";
}
/* app layout css - ends */

/* bootstrap chackbox and radio button */
.ss_checkbox {
  padding-left: 20px;
  line-height: 18px;
}
.ss_checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}
.ss_checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.ss_checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 0px;
  font-size: 11px;
  color: #555555;
}
.ss_checkbox input[type="checkbox"] {
  opacity: 0;
}
.ss_checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.ss_checkbox input[type="checkbox"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";
}
.ss_checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}
.ss_checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.ss_checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.ss_checkbox.checkbox-inline {
  margin-top: 0;
}

.ss_checkbox_primary input[type="checkbox"]:checked + label::before {
  background-color: var(--ss_primary_color_2);
  border-color: var(--ss_primary_color_2);
}
.ss_checkbox_primary input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.ss_radio {
  padding-left: 20px;
}
.ss_radio label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}
.ss_radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.ss_radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.ss_radio input[type="radio"] {
  opacity: 0;
}
.ss_radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.ss_radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.ss_radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.ss_radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.ss_radio.radio-inline {
  margin-top: 0;
}

.ss_radio_primary input[type="radio"] + label::after {
  background-color: var(--ss_primary_color_2);
}
.ss_radio_primary input[type="radio"]:checked + label::before {
  border-color: var(--ss_primary_color_2);
}
.ss_radio_primary input[type="radio"]:checked + label::after {
  background-color: var(--ss_primary_color_2);
}

/* bootstrap chackbox and radio button end */

/* term and cond */
.term_and_cond {
  text-align: left;
  padding: 30px 65px;
}

/* dots loading */
.dots_loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: dotty steps(4, end) 900ms infinite;
  animation: dotty steps(4, end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes dotty {
  to {
    width: 20px;
  }
}

@-webkit-keyframes dotty {
  to {
    width: 20px;
  }
}
